@font-face {
    font-family: NetflixSans;
    src: url(font/NetflixSans.otf);
}

@font-face {
    font-family: NetflixSansLight;
    src: url(font/NetflixSansLight.otf);
}

body {
    background-color: black;
}

header {
    position: relative;
    z-index: 3;
}

.button {
    font-family: NetflixSans;
    font-size: 18px;
    text-align: center;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    border: none;
    height: 35px;
    width: 125px;
}

.button:hover {
    background-color: #c11119;
    transition: 0.7s;
}

select {
    font-family: NetflixSansLight;
    appearance: none;
    outline: 0;
    background: #00000033;
    background-image: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 35px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25rem;
}

.logo img {
    width: 200px;
}

.block1 {
    height: 700px;
    display: inline-block;
    position: relative;
    display: block;
    margin-top: -180px;
}
.barre-grise {
    height: 8px;
    width: 100%;
    background-color: #dcdcdc1e;
  }
  .barre-grise .block2{
    align-items: center;
  }

.block1 img {
    filter: drop-shadow(70%);
    filter: opacity(50%);
    filter: brightness(25%);
    width: 1900px;
    height: 700px;
}

.block1 .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 1000px;
}

h1 {
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: normal;
}

.block1 h3 {
    font-family: NetflixSansLight;
    font-size: 20px;
    font-weight: normal;
}

.block1 p {
    font-family: NetflixSansLight;
    font-size: 20px;
}

.begin {
    font-family: NetflixSans;
    font-size: 22px;
    text-align: center;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    border: none;
    height: 56px;
    width: 180px;
}

.begin:hover {
    background-color: #c11119;
    transition: 0.7s;
}

.champ{
    font-family: NetflixSansLight;
    appearance: none;
    outline: 0;
    background: rgba(0, 0, 0, 0.521);
    background-image: none;
    font-size: 18px;
    color: white;
    width: 300px;
    height: 56px;
    text-align: center;
    border: 2px solid;
    box-sizing: border-box ;
    border-radius: 5px;
}

.block1 h2 {
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: 634px;
    height: 130px;
    margin: -20px;
}

.block2 h2 {
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: 634px;
    height: 130px;
    margin: -20px;
}

.block2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 0 200px;
    align-items: center;
    justify-content: center;
    height: 600px;
    position: relative;
    left: 200px;
}
.videowd{
    position:relative;
    right: 560px;
    z-index: -1;
    bottom:10px;
}

.block2 img {
    width: 640px;
    height: 480px;
}

.text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 50px;
}

.block2 p {
    font-size: 24px;
    font-family: NetflixSansLight;
    width: 642px;
    height: 60px;
}

.block3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 180px;
    align-items: center;
    justify-content: center;
    height: 600px;
    position: relative;
    right: 200px;
}
.videobb{
    position: relative;
    left: 530px;
    z-index: -1;
    bottom: 70px;
}

.block3 h2 {
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: 634px;
    height: 130px;
    margin: -60px;
}

.text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-left: 30px;
}

.block3 p {
    font-size: 24px;
    font-family: NetflixSansLight;
    width: 642px;
    height: 60px;
}

.block3 img {
    width: 640px;
    height: 480px;
}

.block4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 0 180px;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.block4 h2 {
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: 634px;
    height: 130px;
    margin: -20px;
}

.text4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-right: 30px;
}

.block4 p {
    font-size: 24px;
    font-family: NetflixSansLight;
    width: 642px;
    height: 60px;
}

.block4 img {
    width: 640px;
    height: 480px;
}

.block5 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 180px;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.block5 h2 {
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: 634px;
    height: 130px;
    padding-bottom: 25px;
}

.text5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    right: 60px;
}

.block5 p {
    font-size: 24px;
    font-family: NetflixSansLight;
    width: 642px;
    height: 60px;
    padding-left: 100px;
}

.block5 img {
    width: 640px;
    height: 480px;
}

.faq-button {
    font-size: 24px;
    font-family: NetflixSans;
    background-color: #333;
    color: #fff;
    width: 1172px;
    height: 84px;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin-left: 365px;
    padding-left: 24px;
}
.faq-text{
    font-size: 24px;
    font-family: NetflixSans;
    background-color: #333;
    color: #fff;
    width: 1172px;
    height: 84px;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin-left: 365px;
    padding-left: 24px;
    justify-content: space-between;

}
.faq h2{
    font-family: NetflixSans;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    width: 634px;
    height: 130px;
    color: white;
    padding-top: 60px;
    margin-left: 600px;

}

.active, .faq-button:hover{
    background-color: #555;
}
.faq-h3{
    color: white;
    font-size: 16px;
    font-family: NetflixSansLight;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight:normal;
    padding-top: 47px;
}
.faq-box{
    color: white;
    font-size: 24px;
    font-family: NetflixSansLight;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 659px;
    padding-bottom: 72px;

}
footer{
    color: white;
    font-family: NetflixSansLight;
    margin-top: 60px;
}
footer .number{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.70);
    margin-left: 320px;
    margin-bottom: 50px;
}
.number a:link{
    color: #ffffff;
    text-decoration: none;
}
.link a:link{
    color: rgba(255, 255, 255, 0.70);
}
.link{
    font-family: NetflixSansLight;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 0 20rem;  
}
.link a{
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
}
footer select{
    margin-left: 320px;
    margin-top: 25px;
}
.copyright{
    margin-left: 320px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.70);
    font-family: NetflixSansLight;
    font-size: 14px;
}



